/*div{
  border:1px solid tomato;
}*/

/*NAV*/
    #navBtnContainer{
      display:none;
      width:100%;
      margin:0 8px 30px 8px;
    }
    .menu{
      position:static;
    }
    .sub{
      line-height: 80px;
    }
/*TYPOGRAPHY*/
  h1 {
    font-size:50px;
    text-align: left;
    margin:0px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    letter-spacing: -1.2px;
    word-spacing:1.2px;
    display: block;
  }
  h2 {
    font-size:24px;
    text-align: left;
    margin:0px;
    padding:0px 0px 12px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }
  h3 {
    font-size:50px;
    text-align: left;
    margin:0px;
    line-height:48px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 100;
  }
  h4 {
    font-size:16px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin:0px;
    padding:0px 0px 6px 0px;
    color: #212121;
  }
  h5 {
    font-size:14px;
    display:block;
    text-align: left;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin:0px;
    padding:0px 0px 30px 0px;
    color: #767676;
  }
  p {
    color: #444444;
    font-size:15px;
    text-align: left;
    line-height: 21px;
    margin:0px;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    word-break: keep-all;
  }
  p:lang(ko){
    color: #444444;
    font-size:14px;
    text-align: left;
    line-height: 21px;
    margin:0px;
    padding:0;
    letter-spacing:-0.5px;
    font-family: 'Roboto', 'Noto Sans KR' sans-serif;
    font-weight: 300;
    word-break: keep-all;
  }
  .ManifestoText{
    font-size:22px;
    text-align: left;
    line-height:36px;
    margin:0px;
    margin-bottom: 10px;
    padding: 0px;
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
  }
  .ManifestoBold{
    font-weight: 300;
  }
  .NewsTimeText{
    font-size:12px;
    line-height: 19px;
    font-weight: 300;
    color: #404040;
  }
  .translation{
    font-size: 12px;
    margin:0 4px;
  }
  #FooterText{
    display: inline-block;
    font-size:12px;
    line-height: 18px;
    color: #444444;
  }
  /*Portfolio Typography*/
    .InformationText{
      list-style-type: disc;
      font-size:12px;
      line-height: 21px;
      font-weight: 400;
      margin-top:8px;
      margin-left:14px;
      margin-bottom:24px;
      color: #404040;
      font-weight:700;
    }
    .InformationTextDetails{
      line-height:16px;
      list-style-type: circle;
      margin-left:16px;
      left:-10px;
      font-weight: 400;
    }  
/*NAVIGATION*/
  #navigationContainer {
    display: flex;
    flex-direction: row;
    margin:50px 8px 38px 8px;
    font-size:14px;
    font-family: 'Roboto', sans-serif;
    color: black;
    justify-content: space-between;    
  }

  #logoWrapper{
    flex-grow: 1;
  }
    #logoContainer{
      width:72px;
      height: 30px;
    }
  #logo{
    width:100%;
  }

  #menuBtn{
    position:absolute;
    z-index: 999;
    right:16px;
    top:48px;
    /*float:right;*/
  }  




  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #naviLeft {
    display:flex;
    flex-direction: row-reverse;
    padding-right:50px;
    justify-content: space-between;
    width:400px;
  }
  #naviRight {
    width:544px;
    padding-left: 16px;
  }
  #naviRight .navielement {
    height: 27px;
    padding: 0px 2px;
  }

  



  }
  
/*  #findbtn{
    width:24px;
    height: 24px;
  }*/

/*COMMON*/
  u { 
    text-decoration: none;
    border-bottom: 1px solid #E1E1E1;
  }
  a:link, a:visited{
    color:black;
  }
  a:hover{
    font-weight: 500;
  }
  a { text-decoration:none }
  *{
    box-sizing:border-box;
  }
  body {
    background-color: #F8F8F8;  
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      /*overflow: hidden;*/
  }
  .imgcontainer,.container  {
    background-color: white;
  }
  .artboard {
    width: 960px;  
    margin: 0 auto;
  }
  .TopLineBox {
    border-top:1px solid #636363;
    padding-top:8px;
  }
  .SelectedMenu{
    border-bottom: 1px solid black;
  }

/*HOME*/
  #variableMessageSign {
    margin: 0px 8px 0px 8px;
    padding-bottom:56px;
  }
  #HomeFirstRowContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 21px;
    height: auto;
    margin: 0px 8px;
    /*padding-bottom:70px;*/
  }
    #MostInterestingThingContainer{
      grid-column: 1 / 3;
      padding-bottom:70px;
    }
      #issueTextBox{
        overflow: hidden;
        margin:0px 160px 18px 0px;
        height: 84px;
      }
      #issuePhotoContainer{
        height: 306px;
      }
    #NewsContainer{
      grid-column: 3 / 4;
      padding-bottom:70px;      
    }
      #newsfeedContainer{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 16px; 
        margin-bottom:16px;
        /*grid-row-gap: px;*/
      }
        .NewsThumbContainer{
          position: relative; 
          padding-top: 100%; /* 1:1 ratio */ 
          overflow: hidden;
          grid-column: 4/5;
          grid-row:1/3;          
        }
        .NewsTextContainer{
          height:45px;
          grid-column: 1/4;
          overflow:hidden;
        }
        .NewsText{
          grid-column: 1/4; 
        }
        .NewsContainerSeperateLine{
          border-top:1px solid #E1E1E1;
          padding-bottom: 16px;
        }
        .NewsTimeText{}
      
  #HomeSecondRow, #HomeThirdRow, #HomeFourthRow, #Footer{
    margin:0px 8px;
    padding-bottom:70px;
  }
    #RecentWorksContainer{
    }
    .worksContainer{
        display: grid;
        justify-content: space-between;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 16px;
        grid-row-gap: 24px;
        height: auto;
      }
      #recentWorksMainContainer{
        grid-row: 1 / 3;
      }
        #mainWorksImg{
          height: 307px;
          margin-bottom: 12px;
        }
        .TextBoxBody{
          height:45px;
          overflow: hidden;
        }
        .recentWorkModule{
          }
          #recentWorksImg {
            height: 100px;
            margin-bottom: 12px;
          }
  #FourthRow{
    margin:0px 8px;
    padding-bottom:70px;
  }
  .EssayContainerSeperateLine{
    display:none;
  }
  .EssayTextBox{
    height:63px;
    overflow: hidden;
  }
  #InterestsContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    height: auto;
  }
  .InterestsModule{
    position: relative; 
    padding-top: 100%; /* 1:1 ratio */ 
    overflow: hidden;
  }
  .InterestsImg{
    position: absolute; 
    align-items: center;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    max-height: 100%; 
    height: auto;
  }
  .snsThumb{
    float: right;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 4px 0px 0px 16px;
  }
/*ABOUT*/
  #MessageRow{
    margin:0px 8px 70px 8px;
    grid-column-gap: 16px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  #AboutImgContainer{
    margin:0px 8px 30px 8px;
    /*padding-bottom:70px;*/
    position: relative; 
    padding-top: 35%; /* 1:1 ratio */ 
    overflow: hidden;
  }
  .AboutImg{
    position: absolute; 
    align-items: center;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    max-height: 100%; 
    height: auto;
  }
  #AboutFirstRow, #AboutSecondRow, #AboutThirdRow, #AboutFourthRow{
    margin:0 8px;
    padding-bottom:70px;
  }
  #ExperienceContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 5fr 160px;
    grid-column-gap: 16px;
    grid-row-gap: 6px;
    height: auto;
    margin-bottom: 30px;
  }
  .ExperienceLine{
    grid-column: 1 / 3;
    border-top:1px solid #E1E1E1;
  }
  .SmallH5{
    padding:0px 0px 10px 0px;
  }    
  #ConcernContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 16px;
    height: auto;
  }
  .ConcernText{
    border-left:1px solid #E1E1E1;
    padding-left:16px;
    line-height: 31px;
    color: #444444;
    font-size:15px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;    
  }
  .ConcernModule{
    padding:0;
    padding-left:16px;
    border-left: 1px solid #E1E1E1;
  }
/*PORTFOLIO*/
  #CategoryNavigation{
    margin:0 8px;
    margin-bottom:18px;
  }
  .CNText{
    display: inline-block;
  }
  #CategoryNavigationContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #PortfolioContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 24px;
    height: auto;
    margin: 0px 8px;
    padding-bottom:70px;
  }
  #MainPortfolio{
    grid-column: 1 / 3;
  }
  #MainPortfolioImgModule{
    position: relative; 
    padding-top: 48.5%;
    overflow: hidden;
    margin-bottom: 12px;    
  }
  .PortfolioImgModule{
    position: relative; 
    padding-top: 56.25%; /* 1:1 ratio */ 
    overflow: hidden; 
    margin-bottom: 12px;
  }
  .PortfolioImg{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 

  }
/*PORTFOLIO WORKS*/
  .PortfolioMainImgWrapper{
    grid-column: 1/13;
  }
  .PortfolioMainImgContainer{
    position: relative; 
    padding-top: 56.25%;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .PortfolioContainer{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    height: auto;
    margin: 0px 8px;
    padding-bottom:100px;
  }
  .WorksTitle{
    grid-column:1/9;
    padding-bottom:0px;
  }
  .list{

  }
  .SubContentsText{
    /*padding-top: 12px;*/
    font-size:11.5px;
    line-height: 18px;
    font-weight: 00;
    font-family: 'roboto','Noto Sans KR', sans-serif;
    padding-bottom:8px;
    color: #A8A8A8;
  }
  .WorksSubTitle{
    grid-column:1/13;
    font-family: 'roboto','Noto Sans KR', sans-serif;
    padding-top:16px;
    padding-bottom:16px;
    /*padding-bottom:55px;*/
    /*letter-spacing: .3px;*/

  }
  .MainContentsContainer{
    grid-column:1/8;
  }
  .SubContentsContainer{
    grid-column:10/13;
  }
  .MainContentsText{
    padding:56px 0px 34px 0px;
    line-height: 24px;
    font-family: 'roboto', 'Noto Sans KR', sans-serif;
    font-weight:300;
  }
  .MainContentsText:lang(ko){
    padding:80px 0px 34px 0px;
    font-size: 13.5px;
    line-height: 24px;
    letter-spacing: -0.8px;
    word-spacing:0.8px;
    font-family: 'roboto', 'Noto Sans KR', sans-serif;
    font-weight:300;
  }

  .ContentsImgFull{
    position: relative; 
    /*overflow: hidden;*/
    height:auto;
    margin:0px;
    padding:0px;

  }
  .FullContentsImg{
    width: 100%;
    /*margin-bottom:32px;*/
    /*height: auto;*/
  }
  .ContentsImgFullWrapper{
    grid-column: 1/13;

  }
  .ContentsImgAWrapper{
    /*8-columns*/
    grid-column: 1/9;
  }
  .ContentsImgB-1Wrapper{
    /*4-columns 1row*/
    grid-column: 1/5;    
  }
  .ContentsImgB-2Wrapper{
    /*4-columns 2row*/
    grid-column: 5/9;
  }
  .ContentsImgA{
    /* 16:9 ratio */ 
    position: relative; 
    padding-top: 56.25%;
    overflow: hidden;
  }
  .ContentsImgB{
    /* 4:3 ratio */ 
    position: relative; 
    padding-top: 75%;
    overflow: hidden;
  }
  .ContentsImgC{
    /* 1:1 ratio */ 
    position: relative; 
    padding-top: 100%;
    overflow: hidden;
  }
  .ContentsImgCentered{
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    -webkit-transform: translate(50%,50%); 
    -ms-transform: translate(50%,50%); 
    transform: translate(50%,50%);
  }
  .ContentsImgLandscape{
    position: absolute; 
    top: 0; 
    left: 0; 
    max-height: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
  }
  .ContentsImgPortrait{
    position: absolute; 
    top: 0; 
    left: 0; 
    max-height: 100%; 
    height: auto; 
    -webkit-transform: translate(-50%,-50%); 
    -ms-transform: translate(-50%,-50%); 
    transform: translate(-50%,-50%);
  }
/*RESPONSIVE*/
  @media (max-width:960px){
    .artboard{
      width: 100%;
    }
    #issueTextBox{
      margin:0px 10% 18px 0px;
    }
  @media (max-width:900px){
    .artboard{
      width: 100%;
    }
    h1{
      font-size: 44px;

    }
    #HomeFirstRowContainer{
      grid-template-columns: 1fr 1fr;
    }
      #MostInterestingThingContainer{
        grid-column: 1 / 2;
      }
        #issueTextBox{
          margin:0px 0px 18px 0px;
        }
      #NewsContainer{
        grid-column: 2 / 3;
      }
    .worksContainer{
        grid-template-columns: 1fr 1fr;
    }
      #recentWorksMainContainer{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }
  }
  @media (max-width:800px){

      h1{
        font-size: 40px;
      }
      #ExperienceContainer{
        grid-template-columns: 1fr 80px;
      }
      #ConcernContainer{
        grid-template-columns: 1fr 1fr 1fr;
      }      
  }
  @media (max-width:650px){
      #navBtnContainer{
        display:block;
      }    
      #naviRight {
        display: none;
      }
      h1{
        font-size: 32px;
      }
      h2{
        font-size: 20px;
      }
      #HomeFirstRowContainer{
        grid-template-columns: auto;
      }
      #NewsContainer{
        grid-column: 1 / 2;
      }
      .worksContainer{
        grid-template-columns: 1fr;
      }
      .EssayContainerSeperateLine{
        display:block;
        border-top:1px solid #E1E1E1;

      }
      #issueTextBox{
        margin:0px 0px 18px 0px;
      }
      .MainContentsContainer{
        grid-column:1/13;
      }
      .SubContentsContainer{
        grid-column:1/13;
      }
      .ContentsImgAWrapper{
        grid-column: 1/13;
      }
      .ContentsImgB-1Wrapper{
        grid-column: 1/7;    
      }
      .ContentsImgB-2Wrapper{
        grid-column: 7/13;
      }
      .ContentsImgFullWrapper{
        margin:0px -16px;
      }
      .PortfolioMainImgWrapper{
        margin:0px -16px;
      }
      .ContentsImgAWrapper{
        margin:0px -16px;
      }      
      .ContentsImgB-1Wrapper{
        margin:0px 0px 0px -16px;
      }
      .ContentsImgB-2Wrapper{
        margin:0px -16px 0px 0px;
      }
      #ConcernContainer{
        grid-template-columns: 1fr 1fr;
      }
      #MessageRow{
        grid-template-columns: 1fr;
      }
      .MessageRowText{
        margin-bottom: 24px;
      }
      #InterestsContainer{
        grid-template-columns: 1fr 1fr 1fr;
      }      

  @media (max-width:415px){

      .artboard{
        width: 100%;
      }
      h1{
        font-size: 22px;
        font-weight: 300;
        letter-spacing:-0.5px;
        margin-bottom:8px;
      }
      h2{
        font-size:20px;
        padding-bottom:8px;
      }
      h3 {
        font-size:40px;

        line-height:40px;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
      }
      h5{
        font-size:12px;
      }
      .ManifestoText{
        font-size:15px;
        line-height:22px;
        font-weight: 300;
        margin-bottom: 14px;
      }
      .ManifestoBold{
        font-weight:500;
      }
      .WorksTitle{
        grid-column:1/13;
        padding-bottom:0px;
      }      
      #ConcernContainer{
        grid-template-columns: 1fr 1fr;
      }
      #InterestsContainer{
        grid-template-columns: 1fr 1fr;
      }
      .ConcernText{
        font-size:12px;
        line-height:20px;
        padding-left:8px;
      }
      #PortfolioContainer{
        grid-template-columns: 1fr;
      }
      #MainPortfolio{
        grid-column: 1 / 2;
      }
      .PortfolioMainImgContainer{
        padding-top: 100%;
      }
  }


